---
import Layout from "../../layouts/Layout.astro";
import RecipeDetail from "../../components/recipedetail";
import { app } from "../../firebase/server";
import { getFirestore } from "firebase-admin/firestore";


interface Recipe {
  id: string;
  name: string;
  game: string;
  description: string;
  ingredients: string;
  steps: string;
  imageURL: string;
}

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/404");
}

const db = getFirestore(app);
const recipesRef = db.collection("recipes");
const recipeSnapshot = await recipesRef.doc(id).get();

if (!recipeSnapshot.exists) {
  return Astro.redirect("/404");
}

const recipe = recipeSnapshot.data() as Recipe;
---

<Layout title={recipe.name}>
  <a href={`/dashboard`}>Back to Dashboard</a>
  <RecipeDetail recipe={recipe} />
  <a href={`/recipe`}>See Full Recipe</a>

</Layout>
