---
import GamesList from '../components/gameslist.jsx'; // Create this React component next
---

<html>
  <head>
    <title>IGDB Games</title>
  </head>
  <body>
    <h1>Games from IGDB</h1>
    <GamesList />
  </body>
</html>
